.info-card {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin: auto;
	width: 100%;
	padding: 40px 0;
	background-color: gainsboro;
}

.data {
	/* display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; */
	/* margin: auto; */
	margin-right: 30px;
	text-align: center;
}

.char-name {
	color: #ffd700;
	font-weight: 700;
}
