.header-links {
    display: flex;
    justify-content: space-around;
    /* background-color: midnightblue;     */
    font-size: 24px;
    flex-wrap: wrap;
}

.links {
    display: flex;
    flex-direction: column;
    color: midnightblue;
    text-decoration: none;
}

.image-dimensions {
    height: 300px;
    width: 550px;
}