.list-columns {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding-bottom: 200px;
	/* flex-direction: row;
  background-color: green; */
}

.list-header {
	display: flex;
	flex-direction: column;
	font-size: 30px;
	font-weight: 700;
	color: #ffd700;
}

.image-dimensions {
	margin-top: 130px;
}

.description {
	color: #ffd700;
}
